@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
.nnav{
    Font-family: 'Acme', sans-serif;
    color: darkorange;

}



@import url('https://fonts.googleapis.com/css2?family=Acme&family=Russo+One&display=swap');
.store{
    font-family: 'Russo One', sans-serif;
}

